body{
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Main-Nav{
    box-shadow: 0px 4px 10px rgba(0, 0, 0, .07);
    width: 100%;
    position: sticky;
    top: 0px;
    background-color: white;
}

.Home-Nav{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0% 5%;
}

.Home-Nav ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.Home-Nav img{
    width: 10%;
}

.Home-Nav li{
    list-style-type: none;
    display: inline-block;
    margin: 1%;
    box-sizing: border-box;
    color: hsl(8, 100%, 48%);
    font-weight: bold;
}

.To-right{
    float: right;
}

.Address{
    color: hsl(8, 100%, 48%);
    padding: 5px 10px;
    width: 70%;
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid hsl(0, 0%, 77%);
}

.Address input{
    border-radius: 5px;
    padding: 15px 5px;
    width: 100%;
    outline: none;
    border: none;
    box-sizing: border-box;
}

.Front-Img{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid;
    border-radius: 14px;
    margin: 2%;
}

.FOOD-NAV{
    width: 100%;
}

.Front-Img img{
    width: 50%;
}

.FOOD-NAV{
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    margin: 2%;
    background-color: hsla(0, 0%, 88%, 0.242);
}

.FOOD-NAV li{
    margin: 0% 1.5%;
    border: 2.5px solid transparent;
    flex-shrink: 0;
    display: inline-block;
    cursor: pointer;
}

.FOOD-NAV ul{
    font-size: 1rem;
    list-style-type: none;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: bold;
    white-space: nowrap;
    display: flex;
    justify-content: space-evenly;
}

.Food-Choice:hover{
    color: #118b2c;
    border-bottom: 2.5px solid #118b2c;
}

.Image-Menu{
    font-family: Arial, Helvetica, sans-serif;
    width: 90%;
    padding: 2%;
}

.Menu-Category{
    width: 100%;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
}

.MENUS:hover{
    box-shadow: 0px 8px 10px hsla(0, 0%, 0%, 0.07);
}

.Image-Menu .Menu-Category .MENUS{
    font-weight: bold;
    width: 70%;
    margin: 1%;
    padding: 2%;
    border-radius: 14px;
    transition: box-shadow 0.3s ease;
    border: 1px solid hsl(0, 0%, 77%);
}


.price{
    color: hsl(120, 84%, 37%);
    font-weight: bold;
}

.Image-Menu .Menu-Category .MENUS img{
    width: 100%;
}

.Footer{
    margin-top: 2%;
    font-family: Arial, Helvetica, sans-serif;
    width: 90%;
    padding: 5% 0%;
    border-top: 1px solid hsl(0, 0%, 77%);
}

.ABOUT{
    margin-bottom: 2%;
}

.Footer .ABOUT li{
    list-style-type: none;
    margin: 10px
}

.Social-Media{
    margin: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Social-Media i{
    margin: 10px;
    font-size: 2em;
}

.ICONS{
    display: inline;
}

.Last-Footer{
    background-color: hsl(8, 100%, 48%);
    width: 100%;
    padding: 2% 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1rem;
    overflow: hidden;

}

.Last-Footer p{
    color: white;
}
